#cart_lateral {
    max-width: 350px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 70px;
    right: -350px;
    padding:15px;
    background-color: #404041;
    color: #c3c3c3;
    z-index: 3;
    transition: right 300ms;

    //IPHONE 5S
    @media screen and (max-width:330px) {
        right: -320px;
    }
    
    @media screen and (max-width:$mobile) {
        top:115px;
    }

    &.active {
        right: 0;

        .head {
            button {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    .head {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #c3c3c3;

        p {
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease 0s;

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }
        
        span {
            font-size: 20px;
            cursor: pointer;
        }
        
        //OPEN CART
        button {
            position: absolute;
            width: 50px;
            height: 100px;
            background-color: #404041;
            padding:0;
            left: -65px;
            top: -15px;
            transition: opacity 300ms;

            > div {
                position: relative;

                svg {
                    width: 30px;
                    height: auto;
                    fill: #c3c3c3;
                }

                span {
                    width: 17px;
                    height: 17px;
                    line-height: 17px;
                    border-radius: 50px;
                    background-color: #de0613;
                    font-size: 12px;
                    font-weight: bold;
                    text-align: center;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: white;
                }
            }

            img {
                width: 20px;
                margin: 7px auto 0;
            }
        }
    }

    > .content {
        height: 470px;
        overflow-x: hidden;

        @media screen and (min-width:$mobile) and (max-width:1370px) {
            height: 350px;
        }

        @media screen and (min-width:$iphone5) and (max-width:$mobile) {
            height:290px;
        }

        @media screen and (max-width:$iphone5) {
            height:200px;
        }

        &.loading {
            background-size: 50px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(/arquivos/cart_loading.gif);
            
            ul {opacity: 0;}
        }

        ul {
            transition: opacity 300ms;

            li {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                padding-bottom: 12px;
                margin-bottom: 12px;
                border-bottom: 1px solid #dcdcdc;

                @media screen and (max-width:$mobile){
                    position: relative;
                }

                &:last-child {
                    border-bottom: none;
                }

                .content {
                    display: flex;
                    flex-wrap: wrap;

                    .box {
                        &.box_1 {
                            width: 20%;

                            @media screen and (max-width:$mobile) {
                                width: 30%;
                            }
                            
                            .image {
                                background-color: #fff;
                                
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }

                        &.box_2 {
                            width: 70%;
                            padding-left: 10px;
                            
                            @media screen and (min-width:$mobile) {
                                display: flex;
                                align-items: center;
                            }

                            @media screen and (max-width:$mobile) {
                                width: 50%;
                            }

                            .text {
                                p {
                                    font-size: 17px;
                                    line-height: 17px;

                                    @media screen and (max-width:$mobile) {
                                        font-size: 13px;
                                        line-height: 13px;
                                    }
                                }
                            }
                        }

                        &.box_3 {
                            width: 10%;

                            @media screen and (max-width:$mobile) {
                                position: absolute;
                                bottom: 15px;
                                right: 0;
                                width: 20%;
                            }

                            .remove {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            
                                svg {
                                    cursor: pointer;
                                }
                            }
                        }

                        &.box_4 {
                            width: 20%;
                            padding-top:10px;

                            @media screen and (max-width:$mobile){
                                position: absolute;
                                top: 0;
                                right: 0;
                            }

                            .box-count {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                input {
                                    width: 50%;
                                    height: 50px;
                                    text-align: center;
                                    margin: 0 6px;
                                    color: #c3c3c3;
                                }

                                .count {
                                    font-size: 19px;
                                    font-weight: 300;
                                }
                            }
                        }

                        &.box_5 {
                            width: 80%;
                            padding-top:10px;
                            padding-left: 10px;
                            
                            @media screen and (max-width:$mobile) {
                                width: 100%;
                                padding-left: 34%;
                                margin-top: -60px;
                            }

                            .price {
                                height: 100%;
                                display: flex;
                                align-items: center;

                                p {
                                    small {
                                        text-decoration: line-through;
                                    }

                                    strong {
                                        font-size: 20px;
                                    }

                                    &.por {
                                        strong {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .ft {
        border-top: 1px solid #c3c3c3;
        margin: 0 -15px;
        padding: 15px 15px 0 15px;

        .value_total {
            display: flex;
            align-items: center;
            justify-content: space-between;

            strong {
                font-size: 20px;
            }
        }

        .text_frete {
            margin: 5px 0 8px;
        }

        .btn_finalizar {
            width: 100%;
            height: 45px;
            line-height: 45px;
            text-align: center;
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 300;
            background-color: #0dcf76;
            color: #fff;    
        }
    }
}