.new_prateleira {
    position: relative;

    .slick-arrow {
        position: absolute;
        top: 50%;
        width: 19px !important;
        height: 36px !important;
        font-size: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(/arquivos/ico-arrow-next.png);
        z-index: 1;

        i {
            display: none;
        }

        &.slick-disabled {
            opacity: 0.3;
        }

        &.slick-prev {
            transform: rotate(180deg);
            left: 0;
        }

        &.slick-next {
            right: 0;
        }
    }

    >h2 {
        font-size: 27px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    ul {
        @media screen and (max-width:768px) {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            margin-bottom: 20px;
            padding-bottom: 15px;
            -webkit-overflow-scrolling: touch;
        }

        li {
            @media screen and (max-width:768px) {
                max-width: 210px;
                height: auto;
                flex: 0 0 auto;
                margin-right: 3px;
            }

            article {
                width: 90%;
                margin: 0 auto;
                position: relative;

                @media screen and (min-width:768px) {
                    &:hover {
                        .box_cta {
                            opacity: 1 !important;
                        }
                    }
                }

                .prat_image {
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid #909090;
                }

                .list_flags {
                    height: 35px;
                    margin: 7px 0;

                    .flag {
                        margin: 0;

                        &.lancamento {
                            width: auto;
                            height: 25px;
                            line-height: 22px;
                            padding: 0 10px;
                            border: 2px solid #dcdcdc;
                            background-color: #fff;
                            border-radius: 4px;
                            text-transform: uppercase;
                            font-weight: bold;
                            font-size: 11px;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        &.gratis-ox {
                            width: auto;
                            height: 25px;
                            line-height: 22px;
                            padding: 0 10px;
                            border: 2px solid #dcdcdc;
                            border-radius: 4px;
                            text-transform: uppercase;
                            font-weight: bold;
                            font-size: 11px;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        &.discount_percentage {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 40px;
                            height: 40px;
                            font-size: 11px;
                            font-weight: 700;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            color: white;
                            background-color: #de0613;
                            border-radius: 50px;
                        }
                    }
                }

                .prat_info {
                    text-align: left;

                    .texto.brand {
                        font-size: 14px;
                        font-weight: 300;
                        color: #909090;
                    }

                    .prat_name {
                        height: 50px;

                        @media screen and (max-width:$mobile) {
                            height: 80px;
                        }

                        a {
                            margin: 10px 0;
                            font-size: 15px;
                            font-weight: 300;
                            line-height: 15px;
                        }
                    }

                    .prat_price {
                        height: 40px;

                        a {
                            display: flex;
                            flex-wrap: wrap;

                            .de,
                            .por {
                                font-size: 18px;
                            }

                            .de {
                                margin-right: 8px;
                                padding-right: 8px;
                                border-right: 1.5px solid #000;

                                span {
                                    text-decoration: line-through;
                                }
                            }

                            .por {
                                &.full {
                                    width: 100%;
                                    text-align: center;
                                }

                                strong {
                                    color: #de0613;
                                    font-weight: bold;
                                }
                            }

                            .installment {
                                &.full {
                                    width: 100%;
                                    text-align: center;
                                }
                            }
                        }
                    }

                    .box_cta {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        padding-top: 20px;
                        transition: opacity 300ms;

                        @media screen and (min-width:768px) {
                            opacity: 0;
                        }

                        .column_1 {
                            width: 50%;

                            @media screen and (max-width:768px) {
                                width: 100%;
                            }

                            .box_count {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;

                                .count {
                                    color: #de0613;
                                    font-size: 19px;
                                    font-weight: bold;
                                }

                                input {
                                    width: 40px;
                                    height: 40px;
                                    border: none;
                                    margin: 0 10px;
                                    font-size: 16px;
                                    text-align: center;
                                }
                            }
                        }

                        .column_2 {
                            width: 50%;

                            @media screen and (max-width:768px) {
                                width: 100%;
                            }

                            a {
                                width: 130px;
                                height: 40px;
                                line-height: 40px;
                                text-align: center;
                                text-transform: uppercase;
                                color: #fff;
                                background-color: #de0613;
                                border-radius: 3px;

                                @media screen and (max-width:768px) {
                                    width: 100%;
                                }

                                i {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}