.produto {
    font-family: 'Galatea', sans-serif;

    &.active {
        overflow: hidden;

        @media screen and (min-width:$mobile) {
            padding-right: 17px;
        }
    }

    #overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
        display: block;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
        z-index: 10;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    main {
        .bread_crumb {
            background-color: #f9f9f9;

            .bread-crumb {
                padding: 15px 0;

                ul {
                    li {
                        display: flex;
                        align-items: center;

                        &.last {
                            &:after {
                                display: none;
                            }

                            a {
                                font-weight: bold;
                            }
                        }

                        &:after {
                            content: '\203A';
                            margin: 0 5px;
                            font-size: 16px;
                        }

                        a {
                            color: initial;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .section_title {
            font-size: 27px;
            font-weight: 300;
        }

        .prateleira {
            ul {
                justify-content: initial;
            }

            @media screen and (max-width:$mobile) {
                margin-bottom: 10px;
            }
        }

        .product_box {
            position: relative;
        }

        .product_image {
            position: relative;

            #share {
                width: 50px;
                height: 50px;
                position: absolute;
                top: 60px;
                left: 100px;
                z-index: 1;

                @media screen and (max-width:$mobile) {
                    top: 15px;
                    left: 15px;
                }

                &.active {
                    z-index: 11;

                    span {
                        &.midia {
                            opacity: 1;
                            transform: scale(1);

                            &.btn_share_facebook {
                                top: -43px;
                                right: 8px;
                            }

                            &.btn_share_twitter {
                                top: -20px;
                                right: -40px;
                            }

                            &.btn_share_whatsapp {
                                top: 32px;
                                right: -39px;
                            }

                            &.btn_share_pinterest {
                                top: 60px;
                                right: 8px;
                            }
                        }
                    }
                }

                span {
                    width: 35px;
                    height: 35px;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                    cursor: pointer;
                    transition: all 0.3s ease 0s;
                    position: absolute;
                    top: 0;
                    right: 0;

                    &.midia {
                        opacity: 0;
                        transform: scale(0.8);
                    }

                    &:hover {
                        background-color: #de0613;

                        svg {
                            fill: #fff;
                        }
                    }

                    svg {
                        width: 60%;
                        fill: rgba(0, 0, 0, 0.5);
                    }

                    &.btn_share_facebook {
                        svg {
                            width: 12px;
                            height: 24px;
                        }
                    }

                    &.btn_share {
                        width: 50px;
                        height: 50px;
                        z-index: 1;
                        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px;

                        svg {
                            width: 21px;
                            height: 24px;
                            margin-left: -3px;
                        }
                    }
                }
            }

            .apresentacao {
                padding-top: 30px;

                #show {
                    display: flex;
                    flex-wrap: wrap;

                    #include {
                        width: 88%;
                        order: 2;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            order: 1;
                        }

                        #image {
                            width: 85%;
                            margin: 0 auto;
                        }
                    }

                    .thumbs {
                        width: 12%;
                        order: 1;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            padding: 30px 0;
                            order: 2;
                        }

                        li {
                            @media screen and (min-width:$mobile) {
                                margin-bottom: 15px;
                            }

                            a {
                                width: 65px;
                                height: 65px;
                                border: 2px solid white;
                                transition: border 300ms;

                                @media screen and (max-width:$mobile) {
                                    width: 60px;
                                    height: 60px;
                                }

                                &.ON {
                                    border-color: #de0613;
                                }
                            }
                        }
                    }
                }
            }
        }

        .col-12.col-sm-5.col-md-5 {
            .product_info {
                position: relative;
                z-index: 2;
                margin-bottom: 50px;

                .box_1 {
                    background-color: #f9f9f9;
                    margin: 0 -15px;
                    padding: 30px 15px 0;

                    @media screen and (min-width:$mobile) {
                        position: relative;
                        z-index: 2;
                    }

                    .product_brand {
                        a {
                            width: 150px;
                            height: 40px;
                            font-size: 0;
                            background-size: 100%;
                            background-position: center;
                            background-repeat: no-repeat;
                            margin-bottom: 5px;
                            display: none;
                        }
                    }

                    .product_reference {
                        .productReference {
                            font-size: 11px;
                            color: #909090;

                            &:before {
                                content: 'cod.: ';
                            }
                        }
                    }

                    .product_name {
                        margin: 25px 0;

                        .productName {
                            font-size: 25px;
                            font-weight: 300;
                            line-height: 25px;
                        }
                    }

                    .product_variation {
                        div {
                            &.product_color {
                                opacity: 0;
                                visibility: hidden;
                                padding-bottom: 25px;
                                min-height: 97px;
        
                                &.active {
                                    opacity: 1;
                                    visibility: visible;
                                }

                                >p {
                                    margin-bottom: 5px;
                                }
        
                                ul {
                                    display: flex;
                                    flex-wrap: wrap;
        
                                    &:empty {
                                        height: 80px;
                                        display: block;
                                        background-size: 70px;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        background-image: url(/arquivos/ico_loading.gif);
                                    }
        
                                    li {
                                        max-width: 50px;
                                        max-height: 50px;
        
                                        &.dis-none {
                                            display: none;
                                        }
        
                                        &.show_more {
                                            a {
                                                width: 50px;
                                                height: 50px;
                                                border: 1px solid #dcdcdc;
                                                font-weight: 300;
                                                font-size: 32px;
                                                line-height: 44px;
                                                text-align: center;
                                                color: #dcdcdc;
                                            }
                                        }
                                    }
                                }
                            }

                            &.product_voltagem {
                                display: none;
                                padding-bottom: 25px;
                                min-height: 97px;

                                > p {
                                    margin-bottom: 5px;
                                }
                            
                                ul {
                                    display: flex;
                                    align-items: center;
                                    flex-direction: row;

                                    li {
                                        margin-top:5px;
                                        
                                        &:nth-child(1) {
                                            i {
                                                background-color: gray;
                                            }
                                        }

                                        a {
                                            display: flex;
                                            align-items: center;
    
                                            i {
                                                width: 10px;
                                                height: 10px;
                                                display: block;
                                                border-radius: 50px;
                                                background-color: transparent;
                                                border: 2px solid #fff;
                                                box-shadow: 0 0 0 2px grey;
                                                margin-right: 6px;
                                                cursor: pointer;
                                            }

                                            span {
                                                color: #000;
                                                cursor: pointer;
                                                font-size: 18px;
                                                font-weight: 400;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .product_price {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;

                        .plugin-preco {
                            width: 80%;

                            .productPrice {
                                .descricao-preco {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: row;

                                    em {
                                        font-size: 25px;
                                        font-style: normal;
                                        text-transform: lowercase;

                                        &.valor-de {
                                            display: block;
                                            margin-right: 10px;
                                            padding-right: 10px;
                                            border-right: 2px solid black;

                                            strong {
                                                font-weight: 300;
                                                text-decoration: line-through;
                                                text-transform: uppercase;
                                            }
                                        }

                                        &.valor-por {
                                            strong {
                                                color: #e30613;
                                                font-weight: bold;
                                                text-transform: uppercase;
                                            }
                                        }

                                        &.valor-dividido {
                                            width: 100%;
                                            font-size: 19px;

                                            strong {
                                                font-weight: 300;

                                                label {
                                                    text-transform: uppercase;

                                                    &:after {
                                                        content: ' sem juros';
                                                        text-transform: initial;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .preco-a-vista,
                            .economia-de {
                                display: none !important;
                            }
                        }

                        .flag_discount {
                            width: 20%;
                            margin-top: 8px;

                            p {
                                width: 60px;
                                height: 45px;
                                border: 1px dashed #dcdcdc;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                text-align: center;
                                font-size: 19px;
                                line-height: 18px;
                            }
                        }
                    }

                    .product_cta {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        margin: 25px 0;
                        position: relative;

                        .column_1 {
                            width: 20%;

                            @media screen and (max-width:$mobile) {
                                width: 30%;
                            }

                            p {
                                display: block;
                                margin-bottom: 10px;
                            }

                            .box_count {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;

                                .count {
                                    width: 20%;
                                    height: 65px;
                                    line-height: 65px;
                                    text-align: center;
                                    font-size: 28px;
                                    font-weight: 300;
                                }

                                input {
                                    width: 60%;
                                    height: 65px;
                                    border: 1px solid #c2c2c2;
                                    text-align: center;
                                    -moz-appearance: textfield;
                                    -webkit-appearance: textfield;
                                    -o-appearance: textfield;
                                    appearance: textfield;
                                    font-size: 25px;
                                    font-weight: 300;

                                    @media screen and (max-width:$mobile) {
                                        width: 50%;
                                    }
                                }

                                input[type="number"]::-webkit-outer-spin-button,
                                input[type="number"]::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    -o-appearance: none;
                                    margin: 0;
                                }
                            }
                        }

                        .column_2 {
                            width: 80%;

                            @media screen and (max-width:$mobile) {
                                width: 70%;
                            }

                            .notifyme,
                            .buy-in-page-quantity {
                                display: none !important;
                            }

                            a {
                                max-width: 330px;
                                width: 100%;
                                height: 65px;
                                line-height: 65px;
                                font-size: 0;
                                text-align: center;
                                text-transform: uppercase;
                                background-color: #de0613;
                                color: #fff;
                                float: right;
                                margin-top: 27px;
                                margin-bottom: 0;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 15%;
                                transform: initial;

                                &.loading {
                                    background-image: url(/arquivos/buy_cart_loading.gif);

                                    &:after,
                                    &:before {
                                        opacity: 0;
                                    }
                                }

                                &:before {
                                    font-size: 18px;
                                    content: 'Adicionar ao carrinho';

                                    @media screen and (max-width:$mobile) {
                                        font-size: 14px;
                                    }
                                }

                                &:after {
                                    content: '';
                                    width: 28px;
                                    height: 22px;
                                    display: inline-block;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-image: url(/arquivos/ico_add_cart.png);
                                    margin-bottom: -2px;
                                    margin-left: 10px;

                                    @media screen and (max-width:$mobile) {
                                        width: -6px;
                                    }
                                }
                            }
                        }
                        
                        //AVISEME
                        .column_3 {
                            form {
                                display: none;
                                width: 100%;
                                background-color: #f9f9f9;
    
                                fieldset {
                                    padding: 0;
                                    border: none;

                                    div {
                                        display: flex;
                                        flex-wrap: wrap;

                                        input {
                                            &#omBudgetDDD {
                                                width: 20%;
                                                margin-right: 4%;
                                            }

                                            &#omBudgetPhone {
                                                width: 76%;
                                            }
                                        }
                                    }
    
                                    p {
                                        &.title {
                                            color: #de0613;
                                            font-size: 24px;
                                            font-weight: normal;
                                        }
    
                                        &.description {
                                            margin-bottom: 20px;
                                        }
                                    }
    
                                    input[type="tel"],
                                    input[type="text"],
                                    input[type="email"] {
                                        width: 100%;
                                        height: 40px;
                                        border: 1px solid #de0613;
                                        text-indent: 10px;
                                        font-style: italic;
                                        margin-bottom: 20px;
                                    }
    
                                    button[type="submit"],
                                    input[type="submit"] {
                                        width: 80px;
                                        height: 40px;
                                        line-height: 40px;
                                        text-align: center;
                                        text-transform: uppercase;
                                        color: #fff;
                                        background-color: #de0613;
                                        letter-spacing: .1em;
                                        font-size: 12px;
                                        float: right;
                                        border: none;
                                        border-radius: 3px;
                                        cursor: pointer;
    
                                        &:hover {
                                            background-color: #80030b;
                                        }
                                    }
                                }
    
                                &#send_orcamento {
    
                                }
                            }
                        }
                    }

                    .tabs {
                        display: block;
                        padding-top: 0;
                        background: initial;

                        ul {
                            display: flex;
                            justify-content: space-between;
                            border: 1px solid #c2c2c2;
                            margin: 0 -15px;

                            @media screen and (max-width:$mobile) {
                                z-index: 11;
                                position: relative;
                                background-color: #f9f9f9;
                            }

                            li {
                                width: 38%;

                                &:nth-child(2) {
                                    width: 25%;
                                    border-right: 1px solid #c2c2c2;
                                    border-left: 1px solid #c2c2c2;
                                }

                                a {
                                    display: block;
                                    height: 40px;
                                    line-height: 40px;
                                    font-size: 14px;
                                    text-align: center;
                                    text-transform: uppercase;
                                    text-decoration: none;
                                    color: initial;
                                    margin: 0;

                                    &.active {
                                        background-color: #e0e0e0;
                                    }

                                    @media screen and (max-width:$mobile) {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }

                .box_2 {
                    .content_tabs {
                        display: flex;
                        flex-wrap: wrap;
                        width: 560px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 460px;
                        padding: 30px;
                        background-color: #e0e0e0;
                        z-index: 1;
                        display: none;
                        transition: all 300ms;

                        @media screen and (max-width:$mobile) {
                            width: calc(100% + 30px);
                            height: 100%;
                            right: 0;
                            left: -15px;
                        }

                        &.close {
                            @media screen and (min-width:$mobile) {
                                width: 460px;
                                right: 0px;
                            }
                        }

                        &.active {
                            display: block;
                        }

                        .tab {
                            width: 100%;
                            display: none;
                            flex-wrap: wrap;

                            &.active {
                                display: flex;
                            }

                            &[data-id="1"] {
                                .column_1 {
                                    width: 90%;

                                    .titulo-parcelamento {
                                        font-size: 27px;
                                        margin-bottom: 15px;
                                        text-transform: uppercase;
                                        display: block;

                                        @media screen and (max-width:$mobile) {
                                            font-size: 21px;
                                        }
                                    }

                                    .other-payment-method-ul {
                                        li {
                                            margin-bottom: 10px;
                                        }
                                    }

                                    .see-other-payment-method-link {
                                        text-decoration: underline;
                                    }
                                }

                                .column_2 {
                                    width: 10%;

                                    a {
                                        font-size: 27px;
                                        font-weight: 400;
                                        text-transform: uppercase;
                                        text-align: right;

                                        @media screen and (max-width:$mobile) {
                                            font-size: 21px;
                                        }
                                    }
                                }
                            }

                            &[data-id="2"] {
                                .column_1 {
                                    width: 90%;

                                    p {
                                        font-size: 27px;
                                        margin-bottom: 15px;
                                        text-transform: uppercase;
                                    }

                                    .input {
                                        width: 190px;
                                        height: 30px;
                                        display: flex;
                                        flex-wrap: wrap;
                                        flex-direction: row;

                                        input {
                                            width: 80%;
                                            height: 100%;
                                            border: 1px solid #d3d3d3;
                                            text-indent: 10px;
                                            transition: border 300ms;

                                            &.active {
                                                border-color:#CF0000;
                                            }
                                        }

                                        button {
                                            width: 20%;
                                            height: 100%;
                                            background-color: #d3d3d3;
                                        }
                                    }
                                }

                                .column_2 {
                                    width: 10%;

                                    a {
                                        font-size: 27px;
                                        font-weight: 400;
                                        text-transform: uppercase;
                                        text-align: right;
                                    }
                                }

                                .column_3 {
                                    width: 100%;
                                    max-height: 390px;
                                    overflow-x: hidden;

                                    .cep-invalido {
                                        color: #CF0000;
                                        padding: 10px 0;
                                    }

                                    table {
                                        thead {
                                            opacity: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .buy-together-content {
            display: none !important;

            @media screen and (min-width:$mobile) {
                margin-bottom: 60px;
            }

            @media screen and (max-width:$mobile) {
                margin-top: 40px;
                margin-right: -15px;
                margin-left: -15px;
            }

            #divTitulo {
                font-size: 27px;
                font-weight: 300;
                border-bottom: none;
                text-transform: initial;
            }

            table {
                tbody {
                    tr {
                        position: relative;

                        td {
                            &.plus {
                                @media screen and (max-width:$mobile) {
                                    top: 10%;
                                }
                            }

                            &.itemB,
                            &.itemA {
                                padding: 0;
                                border: none;

                                h3 {
                                    a {
                                        text-align: left;
                                        margin-top: 10px;
                                        padding-top: 10px;
                                        border-top: 1px solid #909090;
                                    }
                                }
                            }

                            &.buy {
                                border: none;
                                position: relative;
                                top: -35px;

                                @media screen and (max-width:$mobile) {
                                    padding: 0;
                                    top: -70px;
                                    z-index: -1;
                                }

                                &:after {
                                    content: '';
                                    width: 100%;
                                    height: 170px;
                                    background-color: white;
                                    position: absolute;
                                    top: 0;
                                    left: 0;

                                    @media screen and (max-width:$mobile) {
                                        height: 95px;
                                    }
                                }

                                .comprar-junto {
                                    @media screen and (max-width:$mobile) {
                                        width: 100%;
                                        margin-left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .product_similares {
            ul {
                li {
                    width: 50%;
                }
            }
        }

        .product_description {
            margin-top: 50px;

            @media screen and (max-width:$mobile) {
                margin-top: 30px;
            }

            #caracteristicas {

                .video,
                h4 {
                    display: none;
                }
            }

            .description {
                margin-top: 10px;
                margin-bottom: 20px
            }

            .dis-none+.title {
                display: none;
            }
        }

        #dicas {
            @media screen and (min-width:$mobile) {
                margin: 0 -15px;
                cursor: pointer;
            }

            >p {
                font-size: 27px;
                font-weight: 300;
                margin-bottom: 15px;
            }

            article {
                padding: 10px;
                box-shadow: 0px 0px 7px 3px #dcdcdc;

                .box-banner {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                p {
                    font-size: 19px;
                    font-weight: 400;
                    display: block;
                    margin: 15px 0 10px;
                }

                span {
                    font-size: 21px;
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }

        #resenha {
            display: none;

            h4 {
                display: none;
            }

            hr {
                display: none;
            }

            .media {
                em {
                    span {
                        font-size: 18px;
                    }
                }
            }

            #lnkPubliqueResenha {
                width: 200px;
                line-height: 50px;
                border-radius: 0;
                text-align: center;
                background: #7d9e6b;
                margin-bottom: 20px;
            }
        }

        .product_about_brand {
            background-color: #f9f9f9;
            padding: 30px 0 50px;
            margin: 60px 0 20px;

            #about_brand {
                @media screen and (max-width:$mobile) {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: wrap;

                    h3 {
                        width: 50%;
                        font-size: 21px;
                    }

                    img {
                        width: 50%;
                    }

                    p {
                        width: 100%;
                    }
                }
            }

            img {
                margin: 20px 0;
            }
        }

        .user_review {
            background-color: #f9f9f9;
            padding: 10px;
            margin-bottom: 10px;

            .title {
                #open_resenha {
                    font-size: 27px;
                    font-weight: 300;
                    border: none;
                    margin-left: -15px;
                    text-transform: initial;
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    i {
                        width: 29px;
                        height: 10px;
                        background-image: url(/arquivos/ico-user-review.png);
                        background-repeat: no-repeat;
                        margin-left: 10px;
                        transition: all 300ms;
                    }

                    &.active {
                        i {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }

        .another_options {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 40px 0;

            li {
                width: 200px;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                    margin-bottom: 15px;
                }

                a {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    .dicas_popup,
    .pop_up_lojas {
        position: fixed;
        width: 90%;
        max-width: 890px;
        height: 470px;
        z-index: 1;
        top: 10%;
        left: 50%;
        margin-left: -445px;
        opacity: 0;
        visibility: hidden;
        transform: scale(0.8);
        transition: all 300ms;
        z-index: 999;

        @media screen and (max-width:$mobile) {
            left: 15px;
            margin-left: 0;
        }

        &.active {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }

        .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #CF0000;
            padding: 20px 15px;

            p {
                color: #fff;
                font-size: 32px;
                font-weight: 300;
            }

            span {
                cursor: pointer;
            }
        }

        .content {
            background-color: #fff;
            padding: 15px;
            
            @media screen and(max-width:$mobile) {
                height: 100%;
                overflow: hidden;
                position: relative;
                
                span.scroll {
                    position: absolute;
                    width: 100%;
                    height: 40px;
                    background-color: #CF0000;
                    bottom: 0;
                    left: 0;

                    &:after {
                        content: '';
                        width: 15px;
                        height: 15px;
                        display: block;
                        border-right: 2px solid #dcdcdc;
                        border-bottom: 2px solid #dcdcdc;
                        transform: rotate(45deg);
                        margin: 8px auto;
                    }
                }
            }


            .thead {
                margin-bottom: 30px;
                background-color: #F2F2F2;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                height: 45px;
                border: 1px #C4C4C4 solid;
                display: flex;
                align-items: center;
                padding: 15px;

                @media screen and(max-width:$mobile) {
                    margin-bottom: 15px;
                }

                li {
                    width: 50%;
                }
            }

            .tbody {
                height: 300px;
                overflow-y: scroll;
                overscroll-behavior: contain;
                
                @media screen and (max-width:$mobile){
                    height: 100%;
                }

                li {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid #dcdcdc;

                    &:last-child {
                        border-bottom: none;

                        @media screen and (max-width:$mobile) {
                            margin-bottom: 100px;
                        }
                    }

                    span {
                        width: 50%;
                    }
                }
            }
        }
    }
}