@charset "UTF-8";
@font-face {
  font-family: "Galatea";
  src: url("/arquivos/Galatea-Light.css") format("truetype"), url("/arquivos/Galatea-Regular.css") format("truetype"), url("/arquivos/Galatea-Medium.css") format("truetype"), url("/arquivos/Galatea-Bold.css") format("truetype");
}
.produto {
  font-family: "Galatea", sans-serif;
}
.produto.active {
  overflow: hidden;
}
@media screen and (min-width: 812px) {
  .produto.active {
    padding-right: 17px;
  }
}
.produto #overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  z-index: 10;
}
.produto #overlay.active {
  opacity: 1;
  visibility: visible;
}
.produto main .bread_crumb {
  background-color: #f9f9f9;
}
.produto main .bread_crumb .bread-crumb {
  padding: 15px 0;
}
.produto main .bread_crumb .bread-crumb ul li {
  display: flex;
  align-items: center;
}
.produto main .bread_crumb .bread-crumb ul li.last:after {
  display: none;
}
.produto main .bread_crumb .bread-crumb ul li.last a {
  font-weight: bold;
}
.produto main .bread_crumb .bread-crumb ul li:after {
  content: "›";
  margin: 0 5px;
  font-size: 16px;
}
.produto main .bread_crumb .bread-crumb ul li a {
  color: initial;
  text-decoration: none;
}
.produto main .section_title {
  font-size: 27px;
  font-weight: 300;
}
.produto main .prateleira ul {
  justify-content: initial;
}
@media screen and (max-width: 812px) {
  .produto main .prateleira {
    margin-bottom: 10px;
  }
}
.produto main .product_box {
  position: relative;
}
.produto main .product_image {
  position: relative;
}
.produto main .product_image #share {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 60px;
  left: 100px;
  z-index: 1;
}
@media screen and (max-width: 812px) {
  .produto main .product_image #share {
    top: 15px;
    left: 15px;
  }
}
.produto main .product_image #share.active {
  z-index: 11;
}
.produto main .product_image #share.active span.midia {
  opacity: 1;
  transform: scale(1);
}
.produto main .product_image #share.active span.midia.btn_share_facebook {
  top: -43px;
  right: 8px;
}
.produto main .product_image #share.active span.midia.btn_share_twitter {
  top: -20px;
  right: -40px;
}
.produto main .product_image #share.active span.midia.btn_share_whatsapp {
  top: 32px;
  right: -39px;
}
.produto main .product_image #share.active span.midia.btn_share_pinterest {
  top: 60px;
  right: 8px;
}
.produto main .product_image #share span {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 0;
  right: 0;
}
.produto main .product_image #share span.midia {
  opacity: 0;
  transform: scale(0.8);
}
.produto main .product_image #share span:hover {
  background-color: #de0613;
}
.produto main .product_image #share span:hover svg {
  fill: #fff;
}
.produto main .product_image #share span svg {
  width: 60%;
  fill: rgba(0, 0, 0, 0.5);
}
.produto main .product_image #share span.btn_share_facebook svg {
  width: 12px;
  height: 24px;
}
.produto main .product_image #share span.btn_share {
  width: 50px;
  height: 50px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px;
}
.produto main .product_image #share span.btn_share svg {
  width: 21px;
  height: 24px;
  margin-left: -3px;
}
.produto main .product_image .apresentacao {
  padding-top: 30px;
}
.produto main .product_image .apresentacao #show {
  display: flex;
  flex-wrap: wrap;
}
.produto main .product_image .apresentacao #show #include {
  width: 88%;
  order: 2;
}
@media screen and (max-width: 812px) {
  .produto main .product_image .apresentacao #show #include {
    width: 100%;
    order: 1;
  }
}
.produto main .product_image .apresentacao #show #include #image {
  width: 85%;
  margin: 0 auto;
}
.produto main .product_image .apresentacao #show .thumbs {
  width: 12%;
  order: 1;
}
@media screen and (max-width: 812px) {
  .produto main .product_image .apresentacao #show .thumbs {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    order: 2;
  }
}
@media screen and (min-width: 812px) {
  .produto main .product_image .apresentacao #show .thumbs li {
    margin-bottom: 15px;
  }
}
.produto main .product_image .apresentacao #show .thumbs li a {
  width: 65px;
  height: 65px;
  border: 2px solid white;
  transition: border 300ms;
}
@media screen and (max-width: 812px) {
  .produto main .product_image .apresentacao #show .thumbs li a {
    width: 60px;
    height: 60px;
  }
}
.produto main .product_image .apresentacao #show .thumbs li a.ON {
  border-color: #de0613;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info {
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 {
  background-color: #f9f9f9;
  margin: 0 -15px;
  padding: 30px 15px 0;
}
@media screen and (min-width: 812px) {
  .produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 {
    position: relative;
    z-index: 2;
  }
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_brand a {
  width: 150px;
  height: 40px;
  font-size: 0;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  display: none;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_reference .productReference {
  font-size: 11px;
  color: #909090;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_reference .productReference:before {
  content: "cod.: ";
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_name {
  margin: 25px 0;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_name .productName {
  font-size: 25px;
  font-weight: 300;
  line-height: 25px;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_variation div.product_color {
  opacity: 0;
  visibility: hidden;
  padding-bottom: 25px;
  min-height: 97px;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_variation div.product_color.active {
  opacity: 1;
  visibility: visible;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_variation div.product_color > p {
  margin-bottom: 5px;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_variation div.product_color ul {
  display: flex;
  flex-wrap: wrap;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_variation div.product_color ul:empty {
  height: 80px;
  display: block;
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/arquivos/ico_loading.gif);
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_variation div.product_color ul li {
  max-width: 50px;
  max-height: 50px;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_variation div.product_color ul li.dis-none {
  display: none;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_variation div.product_color ul li.show_more a {
  width: 50px;
  height: 50px;
  border: 1px solid #dcdcdc;
  font-weight: 300;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #dcdcdc;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_variation div.product_voltagem {
  display: none;
  padding-bottom: 25px;
  min-height: 97px;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_variation div.product_voltagem > p {
  margin-bottom: 5px;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_variation div.product_voltagem ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_variation div.product_voltagem ul li {
  margin-top: 5px;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_variation div.product_voltagem ul li:nth-child(1) i {
  background-color: gray;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_variation div.product_voltagem ul li a {
  display: flex;
  align-items: center;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_variation div.product_voltagem ul li a i {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50px;
  background-color: transparent;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px grey;
  margin-right: 6px;
  cursor: pointer;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_variation div.product_voltagem ul li a span {
  color: #000;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_price {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_price .plugin-preco {
  width: 80%;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_price .plugin-preco .productPrice .descricao-preco {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_price .plugin-preco .productPrice .descricao-preco em {
  font-size: 25px;
  font-style: normal;
  text-transform: lowercase;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_price .plugin-preco .productPrice .descricao-preco em.valor-de {
  display: block;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 2px solid black;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_price .plugin-preco .productPrice .descricao-preco em.valor-de strong {
  font-weight: 300;
  text-decoration: line-through;
  text-transform: uppercase;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_price .plugin-preco .productPrice .descricao-preco em.valor-por strong {
  color: #e30613;
  font-weight: bold;
  text-transform: uppercase;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_price .plugin-preco .productPrice .descricao-preco em.valor-dividido {
  width: 100%;
  font-size: 19px;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_price .plugin-preco .productPrice .descricao-preco em.valor-dividido strong {
  font-weight: 300;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_price .plugin-preco .productPrice .descricao-preco em.valor-dividido strong label {
  text-transform: uppercase;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_price .plugin-preco .productPrice .descricao-preco em.valor-dividido strong label:after {
  content: " sem juros";
  text-transform: initial;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_price .plugin-preco .preco-a-vista,
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_price .plugin-preco .economia-de {
  display: none !important;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_price .flag_discount {
  width: 20%;
  margin-top: 8px;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_price .flag_discount p {
  width: 60px;
  height: 45px;
  border: 1px dashed #dcdcdc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 19px;
  line-height: 18px;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 25px 0;
  position: relative;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_1 {
  width: 20%;
}
@media screen and (max-width: 812px) {
  .produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_1 {
    width: 30%;
  }
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_1 p {
  display: block;
  margin-bottom: 10px;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_1 .box_count {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_1 .box_count .count {
  width: 20%;
  height: 65px;
  line-height: 65px;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_1 .box_count input {
  width: 60%;
  height: 65px;
  border: 1px solid #c2c2c2;
  text-align: center;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  -o-appearance: textfield;
  appearance: textfield;
  font-size: 25px;
  font-weight: 300;
}
@media screen and (max-width: 812px) {
  .produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_1 .box_count input {
    width: 50%;
  }
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_1 .box_count input[type=number]::-webkit-outer-spin-button,
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_1 .box_count input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  margin: 0;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_2 {
  width: 80%;
}
@media screen and (max-width: 812px) {
  .produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_2 {
    width: 70%;
  }
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_2 .notifyme,
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_2 .buy-in-page-quantity {
  display: none !important;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_2 a {
  max-width: 330px;
  width: 100%;
  height: 65px;
  line-height: 65px;
  font-size: 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #de0613;
  color: #fff;
  float: right;
  margin-top: 27px;
  margin-bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15%;
  transform: initial;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_2 a.loading {
  background-image: url(/arquivos/buy_cart_loading.gif);
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_2 a.loading:after, .produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_2 a.loading:before {
  opacity: 0;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_2 a:before {
  font-size: 18px;
  content: "Adicionar ao carrinho";
}
@media screen and (max-width: 812px) {
  .produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_2 a:before {
    font-size: 14px;
  }
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_2 a:after {
  content: "";
  width: 28px;
  height: 22px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/arquivos/ico_add_cart.png);
  margin-bottom: -2px;
  margin-left: 10px;
}
@media screen and (max-width: 812px) {
  .produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_2 a:after {
    width: -6px;
  }
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_3 form {
  display: none;
  width: 100%;
  background-color: #f9f9f9;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_3 form fieldset {
  padding: 0;
  border: none;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_3 form fieldset div {
  display: flex;
  flex-wrap: wrap;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_3 form fieldset div input#omBudgetDDD {
  width: 20%;
  margin-right: 4%;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_3 form fieldset div input#omBudgetPhone {
  width: 76%;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_3 form fieldset p.title {
  color: #de0613;
  font-size: 24px;
  font-weight: normal;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_3 form fieldset p.description {
  margin-bottom: 20px;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_3 form fieldset input[type=tel],
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_3 form fieldset input[type=text],
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_3 form fieldset input[type=email] {
  width: 100%;
  height: 40px;
  border: 1px solid #de0613;
  text-indent: 10px;
  font-style: italic;
  margin-bottom: 20px;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_3 form fieldset button[type=submit],
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_3 form fieldset input[type=submit] {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #de0613;
  letter-spacing: 0.1em;
  font-size: 12px;
  float: right;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_3 form fieldset button[type=submit]:hover,
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .product_cta .column_3 form fieldset input[type=submit]:hover {
  background-color: #80030b;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .tabs {
  display: block;
  padding-top: 0;
  background: initial;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .tabs ul {
  display: flex;
  justify-content: space-between;
  border: 1px solid #c2c2c2;
  margin: 0 -15px;
}
@media screen and (max-width: 812px) {
  .produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .tabs ul {
    z-index: 11;
    position: relative;
    background-color: #f9f9f9;
  }
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .tabs ul li {
  width: 38%;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .tabs ul li:nth-child(2) {
  width: 25%;
  border-right: 1px solid #c2c2c2;
  border-left: 1px solid #c2c2c2;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .tabs ul li a {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: initial;
  margin: 0;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .tabs ul li a.active {
  background-color: #e0e0e0;
}
@media screen and (max-width: 812px) {
  .produto main .col-12.col-sm-5.col-md-5 .product_info .box_1 .tabs ul li a {
    font-size: 12px;
  }
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 460px;
  padding: 30px;
  background-color: #e0e0e0;
  z-index: 1;
  display: none;
  transition: all 300ms;
}
@media screen and (max-width: 812px) {
  .produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs {
    width: calc(100% + 30px);
    height: 100%;
    right: 0;
    left: -15px;
  }
}
@media screen and (min-width: 812px) {
  .produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs.close {
    width: 460px;
    right: 0px;
  }
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs.active {
  display: block;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab {
  width: 100%;
  display: none;
  flex-wrap: wrap;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab.active {
  display: flex;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="1"] .column_1 {
  width: 90%;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="1"] .column_1 .titulo-parcelamento {
  font-size: 27px;
  margin-bottom: 15px;
  text-transform: uppercase;
  display: block;
}
@media screen and (max-width: 812px) {
  .produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="1"] .column_1 .titulo-parcelamento {
    font-size: 21px;
  }
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="1"] .column_1 .other-payment-method-ul li {
  margin-bottom: 10px;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="1"] .column_1 .see-other-payment-method-link {
  text-decoration: underline;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="1"] .column_2 {
  width: 10%;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="1"] .column_2 a {
  font-size: 27px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
}
@media screen and (max-width: 812px) {
  .produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="1"] .column_2 a {
    font-size: 21px;
  }
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="2"] .column_1 {
  width: 90%;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="2"] .column_1 p {
  font-size: 27px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="2"] .column_1 .input {
  width: 190px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="2"] .column_1 .input input {
  width: 80%;
  height: 100%;
  border: 1px solid #d3d3d3;
  text-indent: 10px;
  transition: border 300ms;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="2"] .column_1 .input input.active {
  border-color: #CF0000;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="2"] .column_1 .input button {
  width: 20%;
  height: 100%;
  background-color: #d3d3d3;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="2"] .column_2 {
  width: 10%;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="2"] .column_2 a {
  font-size: 27px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="2"] .column_3 {
  width: 100%;
  max-height: 390px;
  overflow-x: hidden;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="2"] .column_3 .cep-invalido {
  color: #CF0000;
  padding: 10px 0;
}
.produto main .col-12.col-sm-5.col-md-5 .product_info .box_2 .content_tabs .tab[data-id="2"] .column_3 table thead {
  opacity: 0;
}
.produto main .buy-together-content {
  display: none !important;
}
@media screen and (min-width: 812px) {
  .produto main .buy-together-content {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 812px) {
  .produto main .buy-together-content {
    margin-top: 40px;
    margin-right: -15px;
    margin-left: -15px;
  }
}
.produto main .buy-together-content #divTitulo {
  font-size: 27px;
  font-weight: 300;
  border-bottom: none;
  text-transform: initial;
}
.produto main .buy-together-content table tbody tr {
  position: relative;
}
@media screen and (max-width: 812px) {
  .produto main .buy-together-content table tbody tr td.plus {
    top: 10%;
  }
}
.produto main .buy-together-content table tbody tr td.itemB, .produto main .buy-together-content table tbody tr td.itemA {
  padding: 0;
  border: none;
}
.produto main .buy-together-content table tbody tr td.itemB h3 a, .produto main .buy-together-content table tbody tr td.itemA h3 a {
  text-align: left;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #909090;
}
.produto main .buy-together-content table tbody tr td.buy {
  border: none;
  position: relative;
  top: -35px;
}
@media screen and (max-width: 812px) {
  .produto main .buy-together-content table tbody tr td.buy {
    padding: 0;
    top: -70px;
    z-index: -1;
  }
}
.produto main .buy-together-content table tbody tr td.buy:after {
  content: "";
  width: 100%;
  height: 170px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 812px) {
  .produto main .buy-together-content table tbody tr td.buy:after {
    height: 95px;
  }
}
@media screen and (max-width: 812px) {
  .produto main .buy-together-content table tbody tr td.buy .comprar-junto {
    width: 100%;
    margin-left: 0;
  }
}
.produto main .product_similares ul li {
  width: 50%;
}
.produto main .product_description {
  margin-top: 50px;
}
@media screen and (max-width: 812px) {
  .produto main .product_description {
    margin-top: 30px;
  }
}
.produto main .product_description #caracteristicas .video,
.produto main .product_description #caracteristicas h4 {
  display: none;
}
.produto main .product_description .description {
  margin-top: 10px;
  margin-bottom: 20px;
}
.produto main .product_description .dis-none + .title {
  display: none;
}
@media screen and (min-width: 812px) {
  .produto main #dicas {
    margin: 0 -15px;
    cursor: pointer;
  }
}
.produto main #dicas > p {
  font-size: 27px;
  font-weight: 300;
  margin-bottom: 15px;
}
.produto main #dicas article {
  padding: 10px;
  box-shadow: 0px 0px 7px 3px #dcdcdc;
}
.produto main #dicas article .box-banner img {
  width: 100%;
  height: auto;
}
.produto main #dicas article p {
  font-size: 19px;
  font-weight: 400;
  display: block;
  margin: 15px 0 10px;
}
.produto main #dicas article span {
  font-size: 21px;
  font-weight: bold;
  text-decoration: underline;
}
.produto main #resenha {
  display: none;
}
.produto main #resenha h4 {
  display: none;
}
.produto main #resenha hr {
  display: none;
}
.produto main #resenha .media em span {
  font-size: 18px;
}
.produto main #resenha #lnkPubliqueResenha {
  width: 200px;
  line-height: 50px;
  border-radius: 0;
  text-align: center;
  background: #7d9e6b;
  margin-bottom: 20px;
}
.produto main .product_about_brand {
  background-color: #f9f9f9;
  padding: 30px 0 50px;
  margin: 60px 0 20px;
}
@media screen and (max-width: 812px) {
  .produto main .product_about_brand #about_brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .produto main .product_about_brand #about_brand h3 {
    width: 50%;
    font-size: 21px;
  }
  .produto main .product_about_brand #about_brand img {
    width: 50%;
  }
  .produto main .product_about_brand #about_brand p {
    width: 100%;
  }
}
.produto main .product_about_brand img {
  margin: 20px 0;
}
.produto main .user_review {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
}
.produto main .user_review .title #open_resenha {
  font-size: 27px;
  font-weight: 300;
  border: none;
  margin-left: -15px;
  text-transform: initial;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.produto main .user_review .title #open_resenha i {
  width: 29px;
  height: 10px;
  background-image: url(/arquivos/ico-user-review.png);
  background-repeat: no-repeat;
  margin-left: 10px;
  transition: all 300ms;
}
.produto main .user_review .title #open_resenha.active i {
  transform: rotate(180deg);
}
.produto main .another_options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;
}
.produto main .another_options li {
  width: 200px;
}
@media screen and (max-width: 812px) {
  .produto main .another_options li {
    width: 100%;
    margin-bottom: 15px;
  }
}
.produto main .another_options li a img {
  width: 100%;
  height: auto;
}
.produto .dicas_popup,
.produto .pop_up_lojas {
  position: fixed;
  width: 90%;
  max-width: 890px;
  height: 470px;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-left: -445px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
  transition: all 300ms;
  z-index: 999;
}
@media screen and (max-width: 812px) {
  .produto .dicas_popup,
.produto .pop_up_lojas {
    left: 15px;
    margin-left: 0;
  }
}
.produto .dicas_popup.active,
.produto .pop_up_lojas.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.produto .dicas_popup .head,
.produto .pop_up_lojas .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #CF0000;
  padding: 20px 15px;
}
.produto .dicas_popup .head p,
.produto .pop_up_lojas .head p {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
}
.produto .dicas_popup .head span,
.produto .pop_up_lojas .head span {
  cursor: pointer;
}
.produto .dicas_popup .content,
.produto .pop_up_lojas .content {
  background-color: #fff;
  padding: 15px;
}
@media screen and (max-width: 812px) {
  .produto .dicas_popup .content,
.produto .pop_up_lojas .content {
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .produto .dicas_popup .content span.scroll,
.produto .pop_up_lojas .content span.scroll {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #CF0000;
    bottom: 0;
    left: 0;
  }
  .produto .dicas_popup .content span.scroll:after,
.produto .pop_up_lojas .content span.scroll:after {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    border-right: 2px solid #dcdcdc;
    border-bottom: 2px solid #dcdcdc;
    transform: rotate(45deg);
    margin: 8px auto;
  }
}
.produto .dicas_popup .content .thead,
.produto .pop_up_lojas .content .thead {
  margin-bottom: 30px;
  background-color: #F2F2F2;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  height: 45px;
  border: 1px #C4C4C4 solid;
  display: flex;
  align-items: center;
  padding: 15px;
}
@media screen and (max-width: 812px) {
  .produto .dicas_popup .content .thead,
.produto .pop_up_lojas .content .thead {
    margin-bottom: 15px;
  }
}
.produto .dicas_popup .content .thead li,
.produto .pop_up_lojas .content .thead li {
  width: 50%;
}
.produto .dicas_popup .content .tbody,
.produto .pop_up_lojas .content .tbody {
  height: 300px;
  overflow-y: scroll;
  overscroll-behavior: contain;
}
@media screen and (max-width: 812px) {
  .produto .dicas_popup .content .tbody,
.produto .pop_up_lojas .content .tbody {
    height: 100%;
  }
}
.produto .dicas_popup .content .tbody li,
.produto .pop_up_lojas .content .tbody li {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
}
.produto .dicas_popup .content .tbody li:last-child,
.produto .pop_up_lojas .content .tbody li:last-child {
  border-bottom: none;
}
@media screen and (max-width: 812px) {
  .produto .dicas_popup .content .tbody li:last-child,
.produto .pop_up_lojas .content .tbody li:last-child {
    margin-bottom: 100px;
  }
}
.produto .dicas_popup .content .tbody li span,
.produto .pop_up_lojas .content .tbody li span {
  width: 50%;
}

.new_prateleira {
  position: relative;
}
.new_prateleira .slick-arrow {
  position: absolute;
  top: 50%;
  width: 19px !important;
  height: 36px !important;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/arquivos/ico-arrow-next.png);
  z-index: 1;
}
.new_prateleira .slick-arrow i {
  display: none;
}
.new_prateleira .slick-arrow.slick-disabled {
  opacity: 0.3;
}
.new_prateleira .slick-arrow.slick-prev {
  transform: rotate(180deg);
  left: 0;
}
.new_prateleira .slick-arrow.slick-next {
  right: 0;
}
.new_prateleira > h2 {
  font-size: 27px;
  font-weight: 300;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .new_prateleira ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 20px;
    padding-bottom: 15px;
    -webkit-overflow-scrolling: touch;
  }
}
@media screen and (max-width: 768px) {
  .new_prateleira ul li {
    max-width: 210px;
    height: auto;
    flex: 0 0 auto;
    margin-right: 3px;
  }
}
.new_prateleira ul li article {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 768px) {
  .new_prateleira ul li article:hover .box_cta {
    opacity: 1 !important;
  }
}
.new_prateleira ul li article .prat_image {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #909090;
}
.new_prateleira ul li article .list_flags {
  height: 35px;
  margin: 7px 0;
}
.new_prateleira ul li article .list_flags .flag {
  margin: 0;
}
.new_prateleira ul li article .list_flags .flag.lancamento {
  width: auto;
  height: 25px;
  line-height: 22px;
  padding: 0 10px;
  border: 2px solid #dcdcdc;
  background-color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  position: absolute;
  top: 0;
  left: 0;
}
.new_prateleira ul li article .list_flags .flag.gratis-ox {
  width: auto;
  height: 25px;
  line-height: 22px;
  padding: 0 10px;
  border: 2px solid #dcdcdc;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  position: absolute;
  top: 0;
  left: 0;
}
.new_prateleira ul li article .list_flags .flag.discount_percentage {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 11px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: #de0613;
  border-radius: 50px;
}
.new_prateleira ul li article .prat_info {
  text-align: left;
}
.new_prateleira ul li article .prat_info .texto.brand {
  font-size: 14px;
  font-weight: 300;
  color: #909090;
}
.new_prateleira ul li article .prat_info .prat_name {
  height: 50px;
}
@media screen and (max-width: 812px) {
  .new_prateleira ul li article .prat_info .prat_name {
    height: 80px;
  }
}
.new_prateleira ul li article .prat_info .prat_name a {
  margin: 10px 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 15px;
}
.new_prateleira ul li article .prat_info .prat_price {
  height: 40px;
}
.new_prateleira ul li article .prat_info .prat_price a {
  display: flex;
  flex-wrap: wrap;
}
.new_prateleira ul li article .prat_info .prat_price a .de,
.new_prateleira ul li article .prat_info .prat_price a .por {
  font-size: 18px;
}
.new_prateleira ul li article .prat_info .prat_price a .de {
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1.5px solid #000;
}
.new_prateleira ul li article .prat_info .prat_price a .de span {
  text-decoration: line-through;
}
.new_prateleira ul li article .prat_info .prat_price a .por.full {
  width: 100%;
  text-align: center;
}
.new_prateleira ul li article .prat_info .prat_price a .por strong {
  color: #de0613;
  font-weight: bold;
}
.new_prateleira ul li article .prat_info .prat_price a .installment.full {
  width: 100%;
  text-align: center;
}
.new_prateleira ul li article .prat_info .box_cta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  transition: opacity 300ms;
}
@media screen and (min-width: 768px) {
  .new_prateleira ul li article .prat_info .box_cta {
    opacity: 0;
  }
}
.new_prateleira ul li article .prat_info .box_cta .column_1 {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .new_prateleira ul li article .prat_info .box_cta .column_1 {
    width: 100%;
  }
}
.new_prateleira ul li article .prat_info .box_cta .column_1 .box_count {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.new_prateleira ul li article .prat_info .box_cta .column_1 .box_count .count {
  color: #de0613;
  font-size: 19px;
  font-weight: bold;
}
.new_prateleira ul li article .prat_info .box_cta .column_1 .box_count input {
  width: 40px;
  height: 40px;
  border: none;
  margin: 0 10px;
  font-size: 16px;
  text-align: center;
}
.new_prateleira ul li article .prat_info .box_cta .column_2 {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .new_prateleira ul li article .prat_info .box_cta .column_2 {
    width: 100%;
  }
}
.new_prateleira ul li article .prat_info .box_cta .column_2 a {
  width: 130px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #de0613;
  border-radius: 3px;
}
@media screen and (max-width: 768px) {
  .new_prateleira ul li article .prat_info .box_cta .column_2 a {
    width: 100%;
  }
}
.new_prateleira ul li article .prat_info .box_cta .column_2 a i {
  display: none;
}

#cart_lateral {
  max-width: 350px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 70px;
  right: -350px;
  padding: 15px;
  background-color: #404041;
  color: #c3c3c3;
  z-index: 3;
  transition: right 300ms;
}
@media screen and (max-width: 330px) {
  #cart_lateral {
    right: -320px;
  }
}
@media screen and (max-width: 812px) {
  #cart_lateral {
    top: 115px;
  }
}
#cart_lateral.active {
  right: 0;
}
#cart_lateral.active .head button {
  opacity: 0;
  visibility: hidden;
}
#cart_lateral .head {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #c3c3c3;
}
#cart_lateral .head p {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
#cart_lateral .head p.active {
  opacity: 1;
  visibility: visible;
}
#cart_lateral .head span {
  font-size: 20px;
  cursor: pointer;
}
#cart_lateral .head button {
  position: absolute;
  width: 50px;
  height: 100px;
  background-color: #404041;
  padding: 0;
  left: -65px;
  top: -15px;
  transition: opacity 300ms;
}
#cart_lateral .head button > div {
  position: relative;
}
#cart_lateral .head button > div svg {
  width: 30px;
  height: auto;
  fill: #c3c3c3;
}
#cart_lateral .head button > div span {
  width: 17px;
  height: 17px;
  line-height: 17px;
  border-radius: 50px;
  background-color: #de0613;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}
#cart_lateral .head button img {
  width: 20px;
  margin: 7px auto 0;
}
#cart_lateral > .content {
  height: 470px;
  overflow-x: hidden;
}
@media screen and (min-width: 812px) and (max-width: 1370px) {
  #cart_lateral > .content {
    height: 350px;
  }
}
@media screen and (min-width: 360px) and (max-width: 812px) {
  #cart_lateral > .content {
    height: 290px;
  }
}
@media screen and (max-width: 360px) {
  #cart_lateral > .content {
    height: 200px;
  }
}
#cart_lateral > .content.loading {
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/arquivos/cart_loading.gif);
}
#cart_lateral > .content.loading ul {
  opacity: 0;
}
#cart_lateral > .content ul {
  transition: opacity 300ms;
}
#cart_lateral > .content ul li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #dcdcdc;
}
@media screen and (max-width: 812px) {
  #cart_lateral > .content ul li {
    position: relative;
  }
}
#cart_lateral > .content ul li:last-child {
  border-bottom: none;
}
#cart_lateral > .content ul li .content {
  display: flex;
  flex-wrap: wrap;
}
#cart_lateral > .content ul li .content .box.box_1 {
  width: 20%;
}
@media screen and (max-width: 812px) {
  #cart_lateral > .content ul li .content .box.box_1 {
    width: 30%;
  }
}
#cart_lateral > .content ul li .content .box.box_1 .image {
  background-color: #fff;
}
#cart_lateral > .content ul li .content .box.box_1 .image img {
  width: 100%;
  height: auto;
}
#cart_lateral > .content ul li .content .box.box_2 {
  width: 70%;
  padding-left: 10px;
}
@media screen and (min-width: 812px) {
  #cart_lateral > .content ul li .content .box.box_2 {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 812px) {
  #cart_lateral > .content ul li .content .box.box_2 {
    width: 50%;
  }
}
#cart_lateral > .content ul li .content .box.box_2 .text p {
  font-size: 17px;
  line-height: 17px;
}
@media screen and (max-width: 812px) {
  #cart_lateral > .content ul li .content .box.box_2 .text p {
    font-size: 13px;
    line-height: 13px;
  }
}
#cart_lateral > .content ul li .content .box.box_3 {
  width: 10%;
}
@media screen and (max-width: 812px) {
  #cart_lateral > .content ul li .content .box.box_3 {
    position: absolute;
    bottom: 15px;
    right: 0;
    width: 20%;
  }
}
#cart_lateral > .content ul li .content .box.box_3 .remove {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cart_lateral > .content ul li .content .box.box_3 .remove svg {
  cursor: pointer;
}
#cart_lateral > .content ul li .content .box.box_4 {
  width: 20%;
  padding-top: 10px;
}
@media screen and (max-width: 812px) {
  #cart_lateral > .content ul li .content .box.box_4 {
    position: absolute;
    top: 0;
    right: 0;
  }
}
#cart_lateral > .content ul li .content .box.box_4 .box-count {
  display: flex;
  align-items: center;
  justify-content: center;
}
#cart_lateral > .content ul li .content .box.box_4 .box-count input {
  width: 50%;
  height: 50px;
  text-align: center;
  margin: 0 6px;
  color: #c3c3c3;
}
#cart_lateral > .content ul li .content .box.box_4 .box-count .count {
  font-size: 19px;
  font-weight: 300;
}
#cart_lateral > .content ul li .content .box.box_5 {
  width: 80%;
  padding-top: 10px;
  padding-left: 10px;
}
@media screen and (max-width: 812px) {
  #cart_lateral > .content ul li .content .box.box_5 {
    width: 100%;
    padding-left: 34%;
    margin-top: -60px;
  }
}
#cart_lateral > .content ul li .content .box.box_5 .price {
  height: 100%;
  display: flex;
  align-items: center;
}
#cart_lateral > .content ul li .content .box.box_5 .price p small {
  text-decoration: line-through;
}
#cart_lateral > .content ul li .content .box.box_5 .price p strong {
  font-size: 20px;
}
#cart_lateral > .content ul li .content .box.box_5 .price p.por strong {
  display: block;
}
#cart_lateral .ft {
  border-top: 1px solid #c3c3c3;
  margin: 0 -15px;
  padding: 15px 15px 0 15px;
}
#cart_lateral .ft .value_total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#cart_lateral .ft .value_total strong {
  font-size: 20px;
}
#cart_lateral .ft .text_frete {
  margin: 5px 0 8px;
}
#cart_lateral .ft .btn_finalizar {
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 300;
  background-color: #0dcf76;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
